.perfil-img {
  width: 350px;      /* tamaño deseado */
  height: 350px;
  object-fit: cover; /* para que se recorte bien */
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.btn {
  background-color: #515151 !important;  /* gris oscuro */
  color: white !important;
  border: none !important;
}

.btn:hover,
.btn:focus,
.btn:active,
.btn.active,
.show > .btn.dropdown-toggle {
  background-color: #666666 !important; /* gris más claro */
  color: white !important;
}

a {
  color: black !important; /* gris oscuro */
}
a:hover,
a:focus,
a:active {
  color: #666666 !important; /* gris más claro */
}
.header-bg-gray {
  background-color: #333333;
}
.footer-bg-gray {
  background-color: #333333;
}